body, html{
  margin: 0;
  padding: 0;
}

.parent-cont{
  width: 100vw;
  height: 100vh;
  background-image: url('/background-images/backgroundMountain.jpg');
  background-size: cover;
}

.nav-img-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 10rem;
}

.menu-bg-container{
  position: absolute;
  top: 0rem;
  left: 6.5rem;
}

ul{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

ul > li {
  list-style-type: none;
  color: white;
}

.list-container{
  position: absolute;
  display: flex;
  align-items: flex-start;
  left: 3rem;
  top: 3rem;
}

.btn-container{
  display: flex;
}

.close-btn{
  background-color: transparent;
  border: none;
  font-size: larger;
  color: white;
}